:root {
    --cor-do-fundo: #04044c;
    --cor-secundaria-de-fundo: #393a7d;
    --cor-primaria: #fff;
    --cor-secundaria: #25cc88;
    --cor-do-texto: #8789af;
    --cor-das-bordas: #20235b;
}

#pagina-de-endereco {
    background-color: var(--cor-do-fundo);
    color: var(--cor-de-texto);
}

/* campos de alerta: */
#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6); /* o 'a' representa a opacidade da cor, entretanto, ou contrário do 'opacity', os elementos na frente do que recebe a valor não é afetado*/
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#fade .spinner-border {
    width: 30px;
    height: 30px;
}

.esconder {
    display: none !important;
}

#mensagem {
    width: 30%;
}

.alert.alert-light p {
    border-bottom: 1px solid #333;
    padding: 1em 0;
}

/* passos: */
#order-form-container {
    padding: 1.5em;
}

#steps {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--cor-das-bordas);
    position: relative;
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step i {
    background-color: var(--cor-secundaria-de-fundo);
    color: var(--cor-do-texto);
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 1.2.em;
    text-align: center;
    margin-bottom: 0.3em;
}

.step .active {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

.step p {
    color: var(--cor-do-texto);
}

.line {
    border-bottom: 1px solid var(--cor-das-bordas);
    position: absolute;
    top: 22.5px;
    width: 90%;
    left: 5%;
    z-index: -1;
}