:root {
    --cor-do-fundo: linear-gradient(90deg, rgba(6,222,255,1) 0%, rgba(9,70,121,1) 25%, rgba(2,92,55,0.9429971817828694) 100%);
    --cor-secundaria-de-fundo: #292826;
    --cor-primaria: #fff;
    --cor-secundaria: rgba(242, 78, 235, 0.3);
    --cor-do-texto: #d3c0ee;
    --cor-das-bordas: #d3c0ee;
}

#pagina-de-endereco {
    background-image: url("pexels.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--cor-primaria);
}

#cadastro {
    font-size: 20px;
    padding: 10px 0;
}

/* campos de alerta: */
#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6); /* o 'a' representa a opacidade da cor, entretanto, ou contrário do 'opacity', os elementos na frente do que recebe a valor não é afetado*/
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#fade .spinner-border {
    width: 30px;
    height: 30px;
}

.esconder {
    display: none !important;
}

#mensagem {
    width: 30%;
}

.alert.alert-light {
    background: rgba(255, 0, 0, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(255, 0, 0, 0.3);
    color: white;
}
.alert.alert-light p {
    padding: 0 0 8px 0;
    margin: 0;
}

#msg-tit{
    font-size: 16px;
}

#fechar-msg {
    background: rgba(255, 0, 0, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(255, 0, 0, 0.3);
}

#steps {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--cor-das-bordas);
    position: relative;
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step i {
    background-color: var(--cor-secundaria-de-fundo);
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 1.2.em;
    text-align: center;
    margin-bottom: 0.3em;
}

.step .active {
    background-color: var(--cor-secundaria);
}

.step p {
    color: var(--cor-do-texto);
}

.line {
    border-bottom: 1px solid var(--cor-das-bordas);
    position: absolute;
    top: 22.5px;
    width: 90%;
    left: 5%;
    z-index: -1;
}

#vidro {
    background: rgba(242, 78, 235, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(242, 78, 235, 0.3);
    max-width: 750px;
    display: block;
    margin: auto auto;
    margin-top: 75px;
}

/* cabeçalho do formulário: */
/* #form-header {
    
} */

/* formulário: */
#order-form-container {
    padding: 1.5em;
    max-width: 700px;
}

#order-form-container input, 
#order-form-container select {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.32);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(0, 0, 0, 0.62);
    color: white;
}

#order-form-container select {
    padding: 1rem 0.75rem;
  }
  
#order-form-container label {
    color: var(--cor-do-texto);
    left: 0.75em;
}

#order-form-container input:disabled,
#order-form-container select:disabled {
    background: rgba(228, 228, 228, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(228, 228, 228, 0.3);
    color: var(--cor-do-texto);
}

#order-form-container input:focus {
    border-color: var(--cor-secundaria);
}

#save-btn {
    background: rgba(242, 78, 235, 0.32);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(242, 78, 235, 0.3);
    width: 10em;
    height: 58px;
    color: var(--cor-do-texto);
    border-radius: 16px;
}

#salvo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6); /* o 'a' representa a opacidade da cor, entretanto, ou contrário do 'opacity', os elementos na frente do que recebe a valor não é afetado*/
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#salvar_msg {
    width: 30%;
}

#salvar_msg .alert.alert-light {
    background: rgba(0, 255, 0, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(0, 255, 0, 0.3);
    color: white;
}

#ok {
    background: rgba(0, 255, 0, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(0, 255, 34, 0.3);
}

